.techstack {
    width: 960px;
    margin: auto;
    padding-top: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.top {
    justify-content: space-evenly;
}

.bottom {
    justify-content: center;
    gap: 80px;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}