#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.is-active {
  color: yellow;
  background-color: yellow;
}


.arrows {
	width: 60px;
	height: 72px;
	left: 45%;
	bottom: 3%;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.email {
    box-shadow: inset 0 0 0 0 #3468D6;
    color: #3468D6;
	padding-left: 1rem;
	padding-right: 2.7rem;
	padding-y: 2rem;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
    margin-left: 5px;
    font-style: italic;
    font-size: 30px;
}

.email:hover {
    color: #fff;
    box-shadow: inset 700px 0 0 0 #FF6000;
	cursor: pointer;
}